.container {
  width: 90%;
  max-width: 800px;

  margin: 0 auto;
  padding: 4vh 2vw;
  box-sizing: border-box;
}

.title {
  font-size: 2rem; /* rem também ok */
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
  color: var(--textoPreto);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--textoPreto);
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--cinzaEscuro);
  margin-bottom: 1rem;
}

.contact {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.divider {
  margin-top: 2rem;
  border: none;
  height: 1px;
  background-color: #ccc;
}