.PhotoUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.PhotoUp img {
    width: 16vh;
    height: 16vh;
}
.botaoUpload {
    border: 1px solid;
    border-color: var(--bordaInput3);
    height: 3vh;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 6px;
    color: var(--textoPreto);

}
.InputCad2 {
    height: 6vh;
    width: 100%;
    border: none;
    background: none;
  
}
.InputCad2::placeholder{
    font-size: 1.3rem;
    color: var(--placeHolderColor);
}
.Cad2{
    width: 100%;
}
.DivInputsCad2 {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.IconsCad2 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 80%;
    border: 2px solid;
    border-color: var(--bordaInput2);
    border-radius: 10px;

}