.InitialDoubleSelect {
    border-radius: 10px;
    background: var(--backgroundAzulAcinzentado);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 39px;
    height: 20vh;
    width: 90%;
    gap: 20px;
}
.InitialDoubleSelect p {
   color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.LineDoubleSelect {
    height: 2px;
    background: var(--azulLinha);
    width: 90%;
}
.DivImg {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.DivSelects {
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px;
    gap: 5px
}
.DivImg img{
    width: 5vh;
    height: 5vh;
    margin-right: 6px;
}
.DivAroundSelects {
    display: flex;
    flex-direction: column;
    align-items: center;

}