.CabecalhoGodocs {
    width: 100%;
    background-color: var(--azulClaroOpaco);
    border: 2px solid;
    border-color: #031b83;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}
.CabecalhoGodocs img {
 width: 17vh;
 height: 4.5vh;
 padding: 5px;
}