.AccInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 20px auto 0;
}
.AccPhoto {
    width: 12vh;
    height: 12vh;
    border-radius: 200px;
}
.AccInfos {
   display: flex;
   flex-direction: column;
   align-items: baseline;

}
.AccInfos h1 {
    font-size: 2.3rem;
    color: var(--textoPreto);
}
.AccInfos h3 {
    color: var(--cinzaEscuro)
}
.ButtonsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: calc(100% - 20px);
  margin: 20px auto 0;

}
.ButtonsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}