<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Document</title>
</head>

<body>
  <input id="emailTxt" type="text">
  <button onclick="authEmailBtn()">confirm</button>
  <input id="FA2num" type="number" maxlength="6">
  <button onclick="FA2Verify()">verificar número</button>

  <pre>
        ████████████████████████████████████████
        ████████████▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█████████
        █████▀▀░░░░░░░░░░░░░░░░░░░░░░░░░▀███████
        ████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░██████
        ███▀░░░░░▄▄▄░░░░░░░░▄▄▀███▄▄░░░░░░░█████
        ██░░░░░░▀▀▀███▄▄░░░█▄▄█▀█▀▀▀▀░▀░▄▄░▀▀███
        █░░▄▄░▄▄░▄░░░█▀░░░░░░░░░░▀▄▄▄█▀▀▄░▀█░░▀█
        █░░░░▄░▀▀░░▄█▀░░░░░░▄▄░░░░░░░▄▄▀██▄░█░░█
        ██░░░██░░░▀▀█▄░░░▀▀▀▄▀░▄▄▄███▀░▄█░░░▀░▄█
        ██▄░██▀█▀▄▄▄▄▄█▄▄▄▄▄▀▀█▀░░▄███▀█▀░░░▄▄██
        ███░████▄█▄░░█░░▄█░░▄▄███▀▀▀█▄▀░░░░▄████
        ███░▀██████████████▀▀▀▀█░░░▄▀▀░░░░▄█████
        ███░░██▀█▀██▀█▀░░▀█░░░░█▄█▀░░░░░▄███████
        ███░░░░▀▀▀██▄██▄▄██▀▀▀▀▀░░░░░▄▄█████████
        ██▀░░░░░░░░░░░░░░░░░░░░░░▄▄▄████████████
        ██▄░░░░░░░░░░░░░░░░░░▄▄█████████████████
        ████▄░░░░░░░░░▄▄▄▄▄█████████████████████
        ████████████████████████████████████████

                                    .:=++=.                                                                                                                                                 
    :-:                    :++-..+-                                                                   .:--:..                                                                       
   -*=+:.                .-*=.. .*-                                                               .:=+*++****+=-:..                                                                 
  .+=.=*+:              .=*-    :*:  .--:                                                     .:=+++=-::-=++++*****+-:..                                                            
   :. .:.   ....       .=+:     =+..=*++*.                                                 .:=++=-:::::::-++++++++++****+=-:...                                                     
    .   ..:-====:.      ..     :*--*+..-*:                                              .:+#*=-::::-=-------=====++++=====++***=:                                                   
      .-===-----==: .         .=*+*-.  =*:-:       .:::.                               .=**==::----=-------------------======+**#+-.                                                
   .:-==----------=-.         :#%+:   .*%+++.    .:+=-+.                              .+*=--=-======--------===-------------==+++*#=.                                               
..:----------------==:.       :+=.    :*=.-*.   .=+:.+=                               -*+--=+=--====-------======--------=----=+++*#=                                               
==-------------------=-.               .  :*+=. .:..=+.                              .+*=--++--====--------========------=-----++++*#:.                                             
----------------------==:.                 ...     :+=:-:                            :*+=-=+==-====-------=============--=-----=+++*#*:                                             
-------------=====----==+=-:..                     .:=**:                            :*+-=++++==+++++++============++++++=------===++#*:                                            
----------====-------------====-:..               .=*=:    .                         :*=--=====++++++++++=========+*+++++**+==--=====+*-                                            
-------====---------------------==-:.             :*+===+++-.                        :*-::----=+++++++++=====---==+************=======*=.                                           
------====--------------=++**#*+=--==-.            .......  .                        :*-::----=++++++++----------++***********+==+++++*-                                            
----====-----------==+*#%@@@@@%###*====:..                .--                        :+-::----+++++++++---------=+************=---==+*+.                                            
-====-----------======+#%#*%%@@#=+#+=+===-..             :+=.                        :*-::---=+++++*++=-------=+#*==+********+-------*=                                             
==----------==+**#%%@@@@@*::-*#%*:--+%%+===:.          .-*-.                        .-*+==++===+++++++=-----=+*##*--=+++****+=------=*:                                             
---------==+*#%@@@@@@@%%#+:::+#%#=::*@@@#*==-.        .++:.                         .+*++++++==========----=++++*-:-==+=+++++=------=*-..                                           
------=*##+#@@@%%#*+=--::::::*%@@%*+#@@@@%*===.       :=.                           :*==+++++========+*++=+++#**+::-==+======++=++---=*+-                                           
---=+#%@@@%%%*+-::::::::::::::-=+#%@@@@@@%++===:.                                  .=*==+++++========+*****==+**=::-===========+#+=--+**#+:..                                       
-=*%@@@@@@%+-:::::::::::::::::::::-+%@@@@#+=====.       .::                       .-*++=+++*+========+*****==+#*-:-==+++=====++#*#%###***##=:.                                      
*%@@@@@@@%+:::::-=-::--::::::::--=-:+@@%#+=+=+=-.     .=*=.                       .+#*******####*+==+*****#*-+**=:--=***+++==*#+=%@@@%%%#*+=*+:                                     
@@@@@@@@@#-::::=-.. .:--::::::-=..---#%*+==++=:        :++=:.                      :==+*#####****##*******##=-*#+---+*****+=+#+-=%@@@@%%%%#*=*+.                                    
++*#%@@@%=::::-=.   :==+-:::::--:--=:-+==++=:.           .:-+=.                       .:***********######%%#*-:*=---+*****+-*+--=%%%%%%%%@@@%#+.                                    
::::-+*#+:::::-+:. .:+==-::::-==-===-:-++-:..            .:-*=.                       .:*+++***++******##*#*++-*=---=*****++*---=#-.:::--=====-.                                    
::::::==::::::-==-...:-=-------=====----=.              .=#*=::.                       .+*+*********###*=---=*=*====++******=-:::*=                                                 
--===-=-:::::---=======-=---=++---+=----=.               .:-==-.                      :===***######**+=::::--+=#*+**+++++*#=-::::==.                                                
*::=--=-::-------=------=--*#*+=++=----=-..                                        ..==::----======--::::::::::**++*+====+*-::::-==.                                                
++-:::-===-------------=+*#%%%%%%#*+--=-.                                        .:=+=:::::-------:::::::::::::=****+====++:::-++:.                                                 
+++=-::::-==--------=*%%@@@@@@@@@@@@%*=...                                    .:-==-:.:::::::::::::::----:::::::+***+===+*-::-+-.                                                   
....:--==-=-=-----+#%@@@@@@@@@@@@@@@@@%+:.            ..                ..:-=-=+-:...::::::::::::::::--=*+-::::::=+++==+*=::-*-.                                                    
      :=-:=-----+#@@@@@@@@@@@@@@@@@@@@@@%=.                 .:-=++*+==++++====-:=:....::::::::::::::-==+*#*+++++++++++*=-::=+:                                                      
     :=-::--::-*%@@@@@@@@@@@@@@@@@@@@@@@@%*:              .-+=---+===++-:::::===-==-:..:::::::::::-=**=::.........:-++=::-+=.                                                       
    .=-:::--:=#@@@@@@@@@@@@@@@@%@@%%%%%%%%%*-.           :+=:..-=---=+-::---::-===--==--:::::::-+##+-................:+*++-.                                                        
   .=-::::-=*%@@@@@@%%%#*+=====*%%=--......::.         .:+=...-*+=+++--===--====+==----=====-+*##+-....................-*+.                                                         
  .=-::::-*%%%#*+==#*:...::---:.-+::-.                 :*=:::-**+++*-...:=++=-====+++====--==*##++-.....................:=+:.                                                       
:-+=::::-+*=-:::::-*:       ...:+-::-.                .+=::-=*++++*=.......:=========+++++**###*-=-.......................-*:.                                                      
-=-:::::::=-::::::=+::-========+=-::-:.               -*:::=*++++++:............:---===+++++#**=-=-........................-*:                                                      
==::::::::=-::::::=+++--:::::::::::::=.              .*-::-++++++*-:::::............::-----=***=-=-......................:-=**:                                                     
-:::::::::+=:::::::::::::::::-----:::--.             -+::=+*++++*+==========-------:::---::+***--=:....................:-==--**:                                                    
:::::::::===-:::::::::::::::::::::::::--            .=+:=+*++++**==================-----:.-****----..................:-==----=#*.                                                   
-:::::::-=:=+::::::::::::::::::::::::::=.           .++==+*++***=::------==============-::=****:::::...............:==-------=#%+.                                                  
:----======-:=:::::::::::::::::::::::::=.           .+*==******+::.......::.:::::--=====--+****:...:-:...........:-=--------=-++=+:.                                                
   ......... .--:::::::::::::::::::::-=:.           .=*=-******-:.:......::.........:-====*++*#=....:-::.......:-=-----====-::-=--+=.                                               
              .:---::::::::::::::----:......         :*=-****#=-:.......:-.............:==*++*#*=-:.:----::...-==----===-:.::..:-::=+:..                                            
                ..::-----------::....  .=++++=:.     .=#+*****---:......:-:..............:+*+***=-==::--+--:-=+=---===:.......:----:-+=.                                            
   ..-:.                               .+- ..-++=-:--..+%#***-----:.....:-:...............=*++*#+=====--=*==+===-===:........::----=++:                                             
 .:++==+-.                             .*-.    .:-==: .-%%*#*:::--::...:---:..............-*++*#=-=====+==*+======:.........:---==*%#:                                              
-++:.  :++:     .--=-:.   ..    ..++++++*:             :#%##+------:--======-:::---:......-*++*#+.:-====++*#====-..........-=====-+%-                                               
+:.     .-*=.  .::::-=+=::**=:.-++*:.....              .+@%%+============+==+-::------:...:*++***...:====+*##+=:.........-=+=-----=#+.                                              
.         .+*-.       .-++*-:=++-..                     :#@%+=======---=====++-::-----==-.:*+++**:....-+===+#*-:......:===---::::--+#:                                              
           .:*+: ..      ..     .                       .-#%*++++++++========++-::------===++++**:.....:=====**-....-==----:::::::-=#=.                                             
             .-*=:=:                                     .=%#---------========++=::-------=*+++**::......-====*+:.-==---:::::::::::-+*.                                             
               .=**+.                                     .-*+--------+=------=-=+---=----=*+++*+.::.......-===**==---::::::::::::::-*-                                             
                 :=+.                                       -*--------*=..:.:--=-==========*+++*+-:-:.......:-=+*+----:::::::::::::::+*.                                            
                                                            :*=-------*:......:-==--:-====+*+++*+-==-.........-=*%+--::::::::::::::::-*=.                                           
                                                            :*==-===-+*:::::::..:---:..:-=**+++*=--==-........:-***+-:::::::::::::::::=*:                                           
                                                            :*+======#+--=====--::::.....:+*++*+=---==:.......:-*--*=:::::::::::::::::-*=                                           
                                                            .*+=====+*=-----=======-:....:*+++*+=======:......:-*:.-+-:::::::::::::::::=*:                                          
                                                           .=+====-+#*+==========----=-:.=*++++-=====-==:.....:=*: .-*-:::::::::::::::::++.                                         
                                                         .:++---:::++:::-==========----=-**++*=..:=======-....:++.  .=+::::::::::::...::-*-                                         
                                                        .-*+=---:.-*-......::-========--+#*+++:....-======-..:-*=    .=+:::::::::::::..:-+*:                                        
                                                      .-+##*****++*=..........-=========***+*+-:.....-=====---+*:     .++::::::::::::::.:+#+.                                       
                                                    .:+*-::---==+##**+-:......:----====+#**+*===:.....:-====++*-       .+=:::::::::::::..:+%=.                                      
                                                ..:=++=---:::::=**--=*#*+=-:...:-------+#****--==:......-===+#-.        :+=:::::::::::::..:+#-.                                     
                                  ....::--===+***+++=--::::::-=*+:::::-=+***+-:::--:--=*****+=====-......-=**-.         .:*=::::::::::::::::=*:                                     
                             ..:-+***####+====+#=--:::::::::=++-:::::::::-=+##*=---::-*****==+======:...:-*+:             :*=-::::::::::::::.=*:                                    
                        .:-=+*#**+===+++***+=-=#*=--::::::::::::::-=++*****+++*#*+-::+***#+::========-:-=*=.               :*+--:::::::::::::.-*-.                                  
                    .:=+*+++++*##*************+*#*=--:::--==++++****+====---:::-=**+******-:::=--=====++*:.                .:*+---:-::-+=:::::.=#+.                                 
                 .-+*+==-----:::-::-=--==+####++**+-==+++==-::::::::::---==++++=++*******-.:::-+-:====*+.                    :*+---+*=:==:::::::=#+.                                
              .:=*+=---:::::::::::::::::--=+*##*++**+=-:::::::::::::::::::----=+*##*****+=-:.:-=+::-+*=.                      .+*==-=++-:::::::::-+=.                               
            .:+*+--==----:::::::::::::::-----=*%%#+-:::::::-::::::::::::::::-----+*###+==*#*-.--++--*=.            ............:-++**+=-:::::::::::*-                               
          .:=*+====--:::::::::::::::::::::---=*#+:::::::-=+=---=-====--::::::-----=+*++##*+*#+--+*+*+...   ..::-==++++++++++++++++++*#***+++===---:=*-..:::..                       
         .-++=------------=--::-::::::::::---++=::::::::==-====------------:::::---=++=*##**#%#*+*%%-.:--=+++==--:::::::::::::::::::::::::::---===++**++*****-.                     
       .-*+=-:::::::::::-----==-::::::::::--+=-::::::::=---:------------:----::::::--==++*##*#%###*#*++=-::::::....::::::::::::.:..:::::::.............:::::=*-.                    
      .=*=--:::::::::::::::::=-::::::::::--=-:::::::::=-:::::::::::---------:::::::::::===+++****#+==::::::::::::::::::::::::::.:..::::::::::::::::.::..::::::==.                   
     .=+-:-:::::::::::::::::--::::::::::::--:::::::::-=::::::::::::::::::--===-::::::::::-====-=+=+---:::::::::::::::::::::::::.:::::::::::::::::::::::::::::::==.                  
    .=+-::-::::::::::::::::--::::::::::::::::::::::::=-::::::::::::::::::::::-=-::::::::::--===-=+++---:::::::::::::::::::::::::::::::::::::::::::::::::::::::::==.                 
    :*-:::---:::::::::::::--:::::::::::::::::::::::::=::::::::::::::::::::::::=::::::::::::------=++=--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::+=                 
   .+=:::::-=--::::::::--=-::::::::::::--:::::::::::-=:::::::::::::::::::::::-=:::::::::::::------=++---:::::.:::::::::::::::::::::::::::::::::::::::::::::::::::=+.                
   -*-::::::-==-::::--==--::::::::::::--::::::::::::-=-::::::::::::::::::::::--::::::::::::::------+++---:::..:::::::::::::::::::::::::::::::::::::::::::::::::::++.                
  .++:::::::::-=---==--::::::::::::::--:::::::::::::::==-::::::::::::::::::::=::::::::::::::::-----=+++--:::::::::::::::::::::::::::::::::::::::::::::::::::::::=*-                 
  .+=:::::::::::----::::::::::::::::--:::::::::::::::::-=-::::::::::::::----::::::::::::::::::------=+*=--:::::::::::::::::::::::::::::::::::::::::::::::::::::=*-.                 
  :+-::::::::::::::::::::::::::::::---::::::::::::::::::-==:::::::::--===-::::::::::::::::::::------=+**--::::::::::::::::::::::::::::::::::::::::::::::::::::=+:                   
  :+:::::::::::::::::::::::::::::::--:::::::::::::::::::::==-::::-====-::::::::::::::::::::::::------+**+--:::::::::::::::::::::::::::::::::::::::::::------:=*:.                   
  -+::::::::::::::::::::::::::::::---::::::::::::::::::::::-=--===--::--::::::::::::::::::::::-------=***=--:::::::::::::::::::::::::::::::::::::::--===+=-:=+:                     
  -+::::::::::::::::::::::::::::::--::::::::::::::::::::::::---:::::::::::::::::::::::::::::::-------=++*+--::::::::::::::::::::::::::::::::::------=+++=::++:.                     
  -+::::::::::::::::::::::::::::::==::::::::::::::::::::::::::::::::::::::::::::::::::::::::::--------+=+*=-::::::::::::::::::::::::::::::--------=+*+=::-++:                       
  :+-::::::::::::::::::::::::::::-+=::::::::::::::::::::::::::::::::::::::::::::::::::::::::::--------=+=*=-:::::::::::::::::::::::::-----------=+*+-:::=*-.                        
  .+-::::::::::::::::::::::::::::-*+--:::::::::::::::::::::::::::::::::::::::::::::::::::::::---------=+=+=-::::::::::::::::::::---------------+*=::::-++:.                         
  .+=::::::::::::::::::::::::::::-*+--:::::::::::::::::::::::::::::::::::::::::::::::::::::::---------=*=+=--:::::::::::::-------------------+*+::::-+#+.                           
   =+::::::::::::::::::::::::::::-++---:::::::::::::::::::::::::::::::::::::::::::::::::::::----------=*+*=----::::::::--------------------=**-:::-+*+++.                           
   :+-:::::::::::::::::::::::::::-+*=---:::::::::::::::::::::::::::::::::::::::::::::::::::-----------=*+*=------------------------------=**=:::-+*+--=+.                           
   .=+:::::::::::::::::::::::::::-=*=----::::::::::::::::::::::::::::::::::-=--:::::::::::------------=++*=----------------------------=**=::-+*+=----*=                            
    .+-::::::::::::::::::::::::::--**-=----:::::::::::::::::::::::::::::::-+***+==+-::::--------------=+*+=-------------------------=+*+-:-=**=-------*-                            
     :+-:::::::::::::::::::::::::--=*+------:::::::::::::::::::::::::::::=+******#*=------------------=+*=------------------------=+*+--=*#+=-:-+=---=*-                            
     .:+=:::::::::::::::::::::::----+*=------::::::::::::::::::::::::::-+************++=--------------=+*=---------------------=+*+=-=++==+-:-+*=----++.                            
       :+=::::::::::::::::::::::----=+*=-------:::::::::::::::::::::::-+****************+-------------=+*=----------------==++*+===++-..-+--++=-----=*:                             
        .=+=---::::::::::::::::------=**=---------:::::::::::::::::::-+*****************=-------------=**------=----===++**+==-=++-.  .:+-:+=------+*:...  ......::::::::::::.......
         .:=++==------:::::::--------==+*=-----------::::::::::::::::=*****************=-------------=*#***####***++++===---=**=:  ...:=+:=*+*****###********#*#####################
            .:=+*++==----------==---==+*%%*==-----------::::::::::::::-=+*************=-------------=*+.:+#%@@#=---------=+*+:.   :**+*#*:+***++==+++++++**+++++++++++++++++++===+++
                .:-++**+++=======++*#%%%%@%%#+===----------------::::::::=+#********++=-=---------=+*==*#%%%%@@%+------=+*-.     :+++++##++*#+=++*+=++++*#*+++++***++++++++**+*++==+
                     ..:-===+++=+##+#@%%@@%%%%#==-------------------------==++***+=====-------==+**=+#@@%%%%%%@%*=---=*+-.      .==::::=##**#-:::=+-++++**-:::::=*++++++++=*=:::-+*=
                                .:**%%%@@@%%%%%%#*+===-----------------=----=-===-----===-===+*+=:+#%@%%%%%%%%%%@%+=+*-.       :+#+-:::=#*++#=---+*-++++**-:::::=+=++++++++*=::::=*-
                                 -#%@%%@@@%%%%%@%@#+*++=---==------------=--=--=----===++**+=-. .=%%%%%%%%@%%%%%%%%%+:.  ....-+**********+++**===+*++++++*=:::--=*+++++++++*=----=*+
                                 -%%%%%@@%%%%%%@%@+..:=++**++===============+++++***++=-::.     .*%%%%%%%%%%@%%%%%@%%#: :++****+++++++++++++++++++*++++++##**+++**+++++++++##****#%#
                                 =%%@%%@@%%%%%%%%@*.     .:--=++++*********++=-::..             .*@%%%%%%%%%@%%%%%%@%*:.+*+++++++++++++++++++++++++++++++++++++++++++++++++**+++++*+
                                 :*%%%%@@%%%%%%%%@*.                 ....                       .=%@%%%%%%%%%@%%%%%@@%-.+*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        .:---:::.:+%%%@@%%%%%%%%@@#.                                  ..........::*@@%%%%%%%%%@%%%%%@#-:**+++++++++++++*####*+++++++++++++++++++++++++++++++++++++++
                     ..:--------=*#%%%@%%%%%%%%%%@%-.                  ......::::::---------------=%@@%%%%%%%%@@%%%%%+--**+++++++++++*##*++*##*+++++++++++++++++++++++++++++++++++++
                ...::----------+%%%%%@@%%%%%%%%%%@%=.                .:----------------------------*@@%%%%%%%%%@%%%%%#+-*#***********#+++++++##++++++++++++++++++++++++++++++++++++*
                 ..:--------=+#%%%%@@@%%%%%%%%%%%@@#:                .-----------------------------=#@@%%%%%%%%@@%%%%%%##*+++*******##+++++++*%****************+++++++*+++++++++++*%
             ...:---------+%@%%%%%@@%%%%%%%%%%%%%@@%=:-:::::::::::::::------------------------------+%@@%%%%%%%%@@%%%%%%%%%%%%%%%#####+++++++**========++++*************+*********##
......::------------------*@@%%%%@@%%%%%%%%%%%%%%@@%*------------------------------------------------*@@@%%%%%%%%@%%%%%%%%%%%%%%%%*=-+#**++*#*=-----------------------------------+#
--------------------------=%@%%%@@%%%%%%%%%%%%%%@@@%+-------------------------------------------------*@@@%%%%%%%%@@%%%%%%%%%%%%%%%%+--++**+=--------------------------------------*
---------------------------+*##%%@@@@@@@%%@%%%%@@%%+---------------------------------------------------*%@@%%%%%%%%@@%%%%%%%%%%%%%%%#-----------------------------------------------
--------------------------=+++***#%%%%%@@@@@@@@@%+------------------------------------------------------=#%@@%%%%%%%@@@@%%%%%%%%%%%%#-----------------------------------------------
---------------------------------+*##****##%%%@%#=--------------------------------------------------------=#%@%@%%%%%@@@@@@@@@@%%%%#=-----------------------------------------------

    </pre>
</body>
<script src="./index.js"></script>

</html>