:root {
 --azulRoyal: #0b2a7a;
 --cinzaEscuro: #5a5a5a;
 --azulOpaco: #243a5e;
 --azulClaro: #A9B7C9;
 --branco: #ffffff;
 --cinzaClaro: #D9dde3;
 --azulVivido: #146bde;
}
h1, p, button {
    font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

